* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  padding: 11rem 2rem 2rem;
  background-color: #fff;
  color: #05073c;
  line-height: 1.6;
}

/* Navbar */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  color: #eb662b;
  padding: 3rem 10rem;
  z-index: 999;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);

}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #05073c;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}

.about-container {
  max-width: 900px;
  margin: auto;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.about-container h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #0a0a23;
  text-align: center;
}

.about-container h2 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 15px;
  color: #0a0a23;
}

.about-container p {
  line-height: 1.8;
  margin-bottom: 20px;
  font-size: 16px;
}

.highlight {
  color: #ff6600;
  font-weight: bold;
}

.about-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}


.footer {
  background-color: #FEF7F4;
  color: #05073C;
  padding: 20px 40px;
  text-align: center;
  font-size: 14px;
  margin-top: 40px;
  border: 1px solid #FBE1D6;
  border-radius: 8px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.footer-links a {
  color: #05073C;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: 600;
}

.footer-links a:hover {
  color: #090c65;
}
